<% if user_signed_in? %>
<p style="color: green"><%= notice %></p>

<h1>Friend List</h1>

<div id="friends">
  <% @friends.each do |friend| %>
    <% if friend.user == current_user %>
      <%= render friend %>
    <% end %>
  <% end %>
</div>

<%= link_to "New friend", new_friend_path, class:"btn btn-secondary" %>
<% else %>
  <h1>Hello!</h1>
  Please log in to view friends list.
<% end %>